@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Inter:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    font-family: Handlee, sans-serif;
    --menu-buttons-clr: orange;
    --text-clr: white;
    background-image: url("../img/background_picture.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

img {
    display: block;
    max-width: 100%
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: var(--menu-buttons-clr);
}

.container {
    padding-left: 200px;
    padding-right: 200px;
    width: auto;
}