.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to right, #001f3f, #001a35);
}

.header__menu--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: auto;
    align-items: center;
    padding: 25px;
}

.header img {
    width: 30px;
    height: 30px;
}

.search__container {
    display: grid;
    justify-content: center;
    align-items: center;
}

.search__container input {
    width: 300px;
    height: 30px;
    border-radius: 25px;
}

.menu__container {
    display: grid;
    justify-content: end;
    align-items: center;
}

.menu__container li {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}