.hero__container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

h1 {
    color: var(--text-clr);
}

.hero__title {
    height: 50px;
    text-align: center;
}

.carousel__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__button--forward, .carousel__button--back {
    width: 45px;
    height: 45px;
}