<section class="admin-panel container">
  <div class="sidemenu__container">
    <ul>
      <li><a href="#">Add items</a></li>
      <li><a href="#">Orders</a></li>
      <li><a href="#">Chat</a></li>
    </ul>
  </div>
  <div class="additems__container">
    <div class="additems__menu">
      <h3>Categories</h3>
      <ul class="additems__category">
        <li>Printers</li>
        <li>Monitors</li>
        <li>Headsets</li>
        <li>Storage</li>
        <li>Processors</li>
        <li>Mouse</li>
      </ul>
    </div>
  </div>
</section>
