<section class="categories--modal container">
  <div class="categories__container">
    <h2>Portal Tech Co.</h2>
    <p>Select your category</p>
    <div class="categories--name__container">
      <ul>
        <li>
          <a href="#"><img src="#" alt="#" />Printers</a>
        </li>
        <li>
          <a href="#"><img src="#" alt="#" />Monitors</a>
        </li>
        <li>
          <a href="#"><img src="#" alt="#" />Headsets</a>
        </li>
        <li>
          <a href="#"><img src="#" alt="#" />Storage</a>
        </li>
        <li>
          <a href="#"><img src="#" alt="#" />Processors</a>
        </li>
        <li>
          <a href="#"><img src="#" alt="#" />Mouse</a>
        </li>
      </ul>
    </div>
    <img class="facebook__logo" src="#" alt="#" />
    <img class="instagram__logo" src="#" alt="#" />
    <img class="twitter__logo" src="#" alt="#" />
  </div>
</section>
