<!-- <section class="categories--modal container">
  <div class="categories--modal__container">
    <div class="categories--modal__title">
      <h2>Portal Tech Co.</h2>
      <br />
      <p>Select your category</p>
    </div>
    <div class="categories--modal--select__container">
      <ul>
        <li>
          <a href="#"
            ><img src="../img/printer_category.png" alt="Printer icon" />
            <h3>Printers</h3></a
          >
        </li>
        <li>
          <a href="#"
            ><img src="../img/monitor_category.png" alt="Monitor icon" />
            <h3>Monitors</h3></a
          >
        </li>
        <li>
          <a href="#"
            ><img src="../img/headset_category.png" alt="Headset icon" />
            <h3>Headsets</h3></a
          >
        </li>
        <li>
          <a href="#"
            ><img src="../img/storage_category.png" alt="Storage icon" />
            <h3>Storage</h3></a
          >
        </li>
        <li>
          <a href="#"
            ><img src="../img/processor_category.png" alt="Processor icon" />
            <h3>Processors</h3></a
          >
        </li>
        <li>
          <a href="#"
            ><img src="../img/mouse_category.png" alt="Computer mouse icon" />
            <h3>Mouse</h3></a
          >
        </li>
      </ul>
    </div>
    <div class="socials__container">
      <img
        class="facebook__logo"
        src="../img/facebook.png"
        alt="Facebook logo"
      />
      <img
        class="instagram__logo"
        src="../img/instagram.png"
        alt="Instagram logo"
      />
      <img class="twitter__logo" src="../img/twitter.png" alt="Twitter logo" />
    </div>
  </div>
</section> -->
