<section class="filter container">
  <div class="filter__container">
    <button class="filter__button">Filter</button>
    <fieldset class="filter__elements">
      <div class="checkbox__container">
        <input type="checkbox" name="1" />
        <label for="1">filter 1</label>
      </div>
      <div class="checkbox__container">
        <input type="checkbox" name="2" />
        <label for="2">filter 2</label>
      </div>
      <div class="checkbox__container">
        <input type="checkbox" name="3" />
        <label for="3">filter 3</label>
      </div>
      <div class="checkbox__container">
        <input type="checkbox" name="4" />
        <label for="4">filter 4</label>
      </div>
      <div class="checkbox__container">
        <input type="checkbox" name="5" />
        <label for="5">filter 5</label>
      </div>
      <button class="filter__button--showall">=></button>
    </fieldset>
  </div>
</section>
