<section class="filter container">
  <div class="filter__container">
    <a class="filter__button" herf="#">Filter</a>
    <form class="filter__form">
      <div class="filter__elements">
        <fieldset>
          <legend>filter 1</legend>
          <select id="category" name="category">
            <option value="all">All categories</option>
            <option value="value1">Value 1</option>
            <option value="value2">Value 2</option>
            <option value="value3">Value 3</option>
          </select>
        </fieldset>
        <fieldset class="filter__elements">
          <legend>filter 2</legend>
          <select id="category" name="category">
            <option value="all">All categories</option>
            <option value="value1">Value 1</option>
            <option value="value2">Value 2</option>
            <option value="value3">Value 3</option>
          </select>
        </fieldset>
        <fieldset class="filter__elements">
          <legend>filter 3</legend>
          <select id="category" name="category">
            <option value="all">All categories</option>
            <option value="value1">Value 1</option>
            <option value="value2">Value 2</option>
            <option value="value3">Value 3</option>
          </select>
        </fieldset>
      </div>
      <div class="filter__button--all">
        <a href="#" class="filter__select--all"
          ><img
            src="../img/disclose_all_properties.png"
            alt="Button for all properties"
        /></a>
      </div>
    </form>
  </div>
</section>
