<section class="hero container">
  <div class="hero__container">
    <div class="hero__title">
      <h1>Portal Tech Co.</h1>
    </div>
    <div class="carousel__container">
      <a class="carousel__button--forward" href="#"
        ><img src="../img/back_button.png"
      /></a>
      <a href="#"
        ><img src="/img/headphones.png" alt="Picture of headphones"
      /></a>
      <a class="carousel__button--back" href="#"
        ><img src="../img/forward_button.png"
      /></a>
    </div>
    <!-- <div class="carousel__container">
      <a class="carousel__button--forward" href="#"
        ><img src="../img/back_button.png"
      /></a>
      <a href="#"
        ><img src="/img/headphones.png" alt="Picture of headphones"
      /></a>
      <a class="carousel__button--back" href="#"
        ><img src="../img/forward_button.png"
      /></a>
    </div>
    <div class="carousel__container">
      <a class="carousel__button--forward" href="#"
        ><img src="../img/back_button.png"
      /></a>
      <a href="#"
        ><img src="/img/headphones.png" alt="Picture of headphones"
      /></a>
      <a class="carousel__button--back" href="#"
        ><img src="../img/forward_button.png"
      /></a>
    </div> -->
  </div>
</section>
