<section class="hero">
  <div class="hero__container">
    <h1>Portal Tech Co.</h1>
    <div class="carousel__container">
      <a href="#"><img src="#" alt="#" /></a>
      <button class="carousel__button--back"></button>
      <button class="carousel__button--forward"></button>
    </div>
    <div class="carousel__container">
      <a href="#"><img src="#" alt="#" /></a>
      <button class="carousel__button--back"></button>
      <button class="carousel__button--forward"></button>
    </div>
    <div class="carousel__container">
      <a href="#"><img src="#" alt="#" /></a>
      <button class="carousel__button--back"></button>
      <button class="carousel__button--forward"></button>
    </div>
  </div>
</section>
