<section class="shop container">
  <div class="shop__container">
    <div class="category__container">
      <ul>
        <li>
          <a href="#"><img src="#" alt="#" />Printers</a>
        </li>
        <li>
          <a href="#"><img src="#" alt="#" />Monitors</a>
        </li>
        <li>
          <a href="#"><img src="#" alt="#" />Headsets</a>
        </li>
        <li>
          <a href="#"><img src="#" alt="#" />Storage</a>
        </li>
        <li>
          <a href="#"><img src="#" alt="#" />Processors</a>
        </li>
        <li>
          <a href="#"><img src="#" alt="#" />Mouse</a>
        </li>
      </ul>
    </div>
    <div class="item__container">
      <div clas="item__card">
        <img src="#" alt="#" />
        <h2>Name</h2>
        <p>Price</p>
      </div>
      <div clas="item__card">
        <img src="#" alt="#" />
        <h2>Name</h2>
        <p>Price</p>
      </div>
      <div clas="item__card">
        <img src="#" alt="#" />
        <h2>Name</h2>
        <p>Price</p>
      </div>
      <div clas="item__card">
        <img src="#" alt="#" />
        <h2>Name</h2>
        <p>Price</p>
      </div>
    </div>
  </div>
</section>
