<section class="shop container">
  <div class="shop__container">
    <div class="category__container">
      <ul>
        <li>
          <a href="#"
            ><img src="../img/printer_category.png" alt="Printer icon" />
            <h2>Printers</h2></a
          >
        </li>
        <li>
          <a href="#"
            ><img src="../img/monitor_category.png" alt="Monitor icon" />
            <h2>Monitors</h2></a
          >
        </li>
        <li>
          <a href="#"
            ><img src="../img/headset_category.png" alt="Headset icon" />
            <h2>Headsets</h2></a
          >
        </li>
        <li>
          <a href="#"
            ><img src="../img/storage_category.png" alt="Storage icon" />
            <h2>Storage</h2></a
          >
        </li>
        <li>
          <a href="#"
            ><img src="../img/processor_category.png" alt="Processor icon" />
            <h2>Processors</h2></a
          >
        </li>
        <li>
          <a href="#"
            ><img src="../img/mouse_category.png" alt="Computer mouse icon" />
            <h2>Mouse</h2></a
          >
        </li>
      </ul>
    </div>
    <div class="item__container">
      <div clas="item__card">
        <img src="../img/products/headphone_hammer.png" alt="#" />
        <h3>Hammer Headphone</h3>
        <p>1049 USD</p>
      </div>
      <div clas="item__card">
        <img src="../img/products/headphone_hammer.png" alt="#" />
        <h3>Hammer Headphone</h3>
        <p>1049 USD</p>
      </div>
      <div clas="item__card">
        <img src="../img/products/headphone_hammer.png" alt="#" />
        <h3>Hammer Headphone</h3>
        <p>1049 USD</p>
      </div>
      <div clas="item__card">
        <img src="../img/products/headphone_hammer.png" alt="#" />
        <h3>Hammer Headphone</h3>
        <p>1049 USD</p>
      </div>
      <div clas="item__card">
        <img src="../img/products/headphone_hammer.png" alt="#" />
        <h3>Hammer Headphone</h3>
        <p>1049 USD</p>
      </div>
      <div clas="item__card">
        <img src="../img/products/headphone_hammer.png" alt="#" />
        <h3>Hammer Headphone</h3>
        <p>1049 USD</p>
      </div>
    </div>
  </div>
</section>
